.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#campo_de_busca{
    border: 1px solid var(--cor-azul);
    width: 30vw;
    height: 4vh;
    border-radius: 3%;
}
.nav_menu{
    display: flex;
    gap: 2em;
    margin-right: 1em;
}

.menu-hamburguer{
    display: none;
}

.input-menu{
    display: none;
}

.item-menu-hamburguer{
    display: block;
}

.menu_superior{
    display: flex;
    align-items: center;
}

.lista_menu{
    display: flex;
    gap: 1em;
}

.item_menu{
    display: flex;
    align-items: center;
    text-align: center;

    padding: 0.5em;
    color: var(--cor-azul);
    border-bottom: 1px solid var(--cor-azul);
}

.icones_cabecalho{
    display: flex;
    gap: 1em;
}

.icone_cabecalho{
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 5%;
    color: white;
}

.icon{
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 580px){
    .cabecalho{
        display: flex;
        justify-content: center;
    }
    
    #campo_de_busca{
    }
    .nav_menu{
        display: flex;
        align-items: center;
        gap: 1em;
    }
    
    .menu-hamburguer{
        display: inline-block;
        margin-left: 2em;
    }

    .input-menu{
        display: none;
    }

    .lista-menu-hamburguer{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right:3px;
        background-color: var(--cor-azul);
    }

    .item-menu-hamburguer{
        color: white;
        margin:0.8em;
    }
    
    .lista_menu{
        display: none;
    }
    
    .icones_cabecalho{
        display: none;
        
    }
    
    .icone_cabecalho{
        margin: 0.5em;
        padding: 0.5em;
        border-radius: 5%;
    }
    
    .icon{
        width: 40px;
        height: 40px;
    }
}