.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#campo_de_busca{
    border: 1px solid var(--cor-azul);
    width: 30vw;
    height: 4vh;
    border-radius: 3%;
}
.nav_menu{
    display: flex;
    gap: 2em;
    margin-right: 1em;
}

.lista_menu{
    display: flex;
    gap: 1em;
}

.item_menu{
    margin: 0.5em;
    padding: 0.5em;
    color: var(--cor-azul);
    border-bottom: 1px solid var(--cor-azul);
}

.icones_cabecalho{
    display: flex;
    gap: 1em;
}

.icone_cabecalho{
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 5%;
    color: white;
}

.icon{
    width: 40px;
    height: 40px;
}